<h2>Search Drink</h2>
<form action="/drinks" method="GET">
<div>
    <label>Name</label>
    <input type="text" name="name" value="<%=searchOptions.name%>">
</div>
<div>
    <label>Drink Type</label>
    <input type="text" name="drinkType" value="<%=searchOptions.drinkType%>">
</div>
<button type="submit">Search</button>
</form>
<br>
<div>
    <% drinks.forEach(drink => { %>
        <a href="/drinks/<%= drink.id %>">
            <img height="150px" width="100px" src="<%= drink.drinkImagePath %>">
        </a>
        
    <%}); %> 
</div>
