<h2>Recently Added</h2>
<div>
    <% drinks.forEach(drink => { %>
        <a href="/drinks/<%= drink.id %>">
            <img height="150" width="100" src="<%= drink.drinkImagePath %>">
        </a>
        
    <%}); %> 
</div>