<h2>Edit Brand</h2>
<form action="/brands/<%= brand.id %>?_method=PUT" method="POST">
  <%- include('_formfield') %>
 <div>
     <a href="/brands/<%= brand.id %>">Cancel</a>
 </div>
 
  <button type="submit">Update</button>
</form>